$border-radius: 30px;
$popUpWidth: 600px;
$primaryTextColor: #1e1e1e;

body {
    position: relative;
    font-family: 'Space Mono', monospace;
    color: $primaryTextColor;
    cursor: default;
    background: url(../img/bgphoto.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    #mainContainer {
        height: 100%;
        width: 100%;
        padding: 0;
    }
    nav {
        .navbar-header {
            .navbar-brand {
                padding: 2px 0 1px 3px;
            }
            img {
                height: 100%;
            }
        }
        #navbarContactBtn {
            cursor: pointer;    
        }
    }
    #containerForHiding {
        display: none;
        #contactPopUpContainer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.6);
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #contactPopUpFormContainer{
                width: $popUpWidth;
                height: popUpWidth;
                @media (max-width: 700px) {
                    width: $popUpWidth/1.5;
                    height: $popUpWidth/1.4;
                }
                @media (max-width: 450px) {
                    width: $popUpWidth/2;
                    height: $popUpWidth/1.25;
                }
                background-color: white;
                border: 1px solid black;
                border-radius: $border-radius;
                margin: auto;
                padding: 20px;
                #closeContainer {
                    float: right;
                    padding: 15px;
                    #formClose {
                        opacity: 0;
                        color: $primaryTextColor;
                        &:hover {
                            cursor: pointer;
                        }
                    }   
                }
                textarea {
                    width: 100%;
                }
                .btn {
                    float: right;
                    margin: 20px;
                }
                .form-control {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

