/* line 5, C:/xampp/htdocs/stack-design/css/style.scss */
body {
  position: relative;
  font-family: 'Space Mono', monospace;
  color: #1e1e1e;
  cursor: default;
  background: url(../img/bgphoto.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh; }
  /* line 13, C:/xampp/htdocs/stack-design/css/style.scss */
  body #mainContainer {
    height: 100%;
    width: 100%;
    padding: 0; }
  /* line 20, C:/xampp/htdocs/stack-design/css/style.scss */
  body nav .navbar-header .navbar-brand {
    padding: 2px 0 1px 3px; }
  /* line 23, C:/xampp/htdocs/stack-design/css/style.scss */
  body nav .navbar-header img {
    height: 100%; }
  /* line 27, C:/xampp/htdocs/stack-design/css/style.scss */
  body nav #navbarContactBtn {
    cursor: pointer; }
  /* line 31, C:/xampp/htdocs/stack-design/css/style.scss */
  body #containerForHiding {
    display: none; }
    /* line 33, C:/xampp/htdocs/stack-design/css/style.scss */
    body #containerForHiding #contactPopUpContainer {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.6);
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      /* line 44, C:/xampp/htdocs/stack-design/css/style.scss */
      body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer {
        width: 600px;
        height: popUpWidth;
        background-color: white;
        border: 1px solid black;
        border-radius: 30px;
        margin: auto;
        padding: 20px; }
        @media (max-width: 700px) {
          /* line 44, C:/xampp/htdocs/stack-design/css/style.scss */
          body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer {
            width: 400px;
            height: 428.57143px; } }
        @media (max-width: 450px) {
          /* line 44, C:/xampp/htdocs/stack-design/css/style.scss */
          body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer {
            width: 300px;
            height: 480px; } }
        /* line 60, C:/xampp/htdocs/stack-design/css/style.scss */
        body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer #closeContainer {
          float: right;
          padding: 15px; }
          /* line 63, C:/xampp/htdocs/stack-design/css/style.scss */
          body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer #closeContainer #formClose {
            opacity: 0;
            color: #1e1e1e; }
            /* line 66, C:/xampp/htdocs/stack-design/css/style.scss */
            body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer #closeContainer #formClose:hover {
              cursor: pointer; }
        /* line 71, C:/xampp/htdocs/stack-design/css/style.scss */
        body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer textarea {
          width: 100%; }
        /* line 74, C:/xampp/htdocs/stack-design/css/style.scss */
        body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer .btn {
          float: right;
          margin: 20px; }
        /* line 78, C:/xampp/htdocs/stack-design/css/style.scss */
        body #containerForHiding #contactPopUpContainer #contactPopUpFormContainer .form-control {
          margin-bottom: 5px; }

/*# sourceMappingURL=style.css.map */