body {
  color: #2b2b2b;
  cursor: default;
  font-family: 'Space Mono', monospace; }
  body a:hover {
    color: #ff6619 !important;
    text-decoration: none; }
  body li {
    font-size: 1.1em;
    text-align: justify; }
  body p,
  body .form-control {
    font-size: 1.1em;
    text-align: justify; }
    @media screen and (max-width: 480px) {
      body p,
      body .form-control {
        font-size: .7em;
        text-align: left; } }
  body .black {
    background: #000;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2; }

#mainStackH1 {
  color: white;
  display: inline-block;
  font-size: 120px;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    #mainStackH1 {
      font-size: 110px; } }
  @media screen and (max-width: 992px) {
    #mainStackH1 {
      font-size: 80px; } }
  @media screen and (max-width: 768px) {
    #mainStackH1 {
      font-size: 50px; } }
  @media screen and (max-width: 480px) {
    #mainStackH1 {
      font-size: 30px; } }
  @media screen and (max-width: 1200px) {
    #mainStackH1 img {
      width: 150px; } }
  @media screen and (max-width: 992px) {
    #mainStackH1 img {
      width: 110px; } }
  @media screen and (max-width: 768px) {
    #mainStackH1 img {
      width: 80px; } }
  @media screen and (max-width: 480px) {
    #mainStackH1 img {
      width: 40px; } }

.btn-custom {
  background-color: #2234a9;
  border: 1px solid #d1d1d1;
  color: white;
  margin: auto; }
  .btn-custom:hover {
    background-color: #2234a9;
    box-shadow: 2px 2px 8px #1c1c1c;
    color: white; }

#landingPage {
  align-items: center;
  display: flex;
  background: url("../img/engineHouse.jpg") no-repeat;
  background-position: 16% 70%;
  background-size: cover;
  height: 100vh;
  max-height: 100vh; }
  @media screen and (max-width: 768px) {
    #landingPage {
      display: block; } }
  #landingPage a {
    margin: auto;
    text-align: center;
    text-decoration: none;
    width: 100%; }
    @media screen and (max-width: 480px) {
      #landingPage a {
        display: block;
        height: 100%; } }
    #landingPage a h1 {
      color: white; }

nav .navbar-header .navbar-brand {
  padding: 2px 0 1px 3px; }
  nav .navbar-header .navbar-brand > h4 {
    margin-top: 2px;
    padding-right: 20px; }

nav #navbarContactBtn {
  cursor: pointer; }

nav #logOutBtnDiv {
  align-items: center;
  display: flex; }
  nav #logOutBtnDiv p,
  nav #logOutBtnDiv a {
    color: #d1d1d1; }

.containerForHiding,
#successMessage {
  display: none; }

.popUpContainer {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2001; }
  @media screen and (max-width: 480px) {
    .popUpContainer {
      padding: 0; } }
  .popUpContainer .formClose {
    float: right; }
    .popUpContainer .formClose:hover {
      cursor: pointer; }
  .popUpContainer .popUpFormContainer, .popUpContainer .popUpFormContainer #successMessage {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    margin: auto;
    padding: 15px;
    position: relative;
    width: 600px; }
    @media screen and (max-width: 768px) {
      .popUpContainer .popUpFormContainer, .popUpContainer .popUpFormContainer #successMessage {
        width: 80%; } }
    @media screen and (max-width: 480px) {
      .popUpContainer .popUpFormContainer, .popUpContainer .popUpFormContainer #successMessage {
        border-radius: 15px;
        margin: 0;
        padding: 10px 5px;
        width: 100%; } }
    .popUpContainer .popUpFormContainer #successMessage {
      border: 0;
      cursor: pointer;
      height: 100%;
      left: 0;
      padding: -14px;
      position: absolute;
      top: 0;
      width: 100%; }
      .popUpContainer .popUpFormContainer #successMessage h3 {
        text-align: center; }
      .popUpContainer .popUpFormContainer #successMessage #alertContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center; }
        .popUpContainer .popUpFormContainer #successMessage #alertContainer > img, .popUpContainer .popUpFormContainer #successMessage #successMessage #alertContainer > img {
          height: auto;
          margin: auto;
          width: 30%; }
        .popUpContainer .popUpFormContainer #successMessage #alertContainer > div, .popUpContainer .popUpFormContainer #successMessage #successMessage #alertContainer > div {
          margin: auto; }
    .popUpContainer .popUpFormContainer textarea, .popUpContainer .popUpFormContainer #successMessage textarea {
      width: 100%; }
    .popUpContainer .popUpFormContainer .btn, .popUpContainer .popUpFormContainer #successMessage .btn {
      float: right;
      margin: 20px; }
    .popUpContainer .popUpFormContainer .formControl, .popUpContainer .popUpFormContainer #successMessage .formControl {
      margin-bottom: 5px; }

#homePage {
  background: #000 url("../img/italy.jpg");
  background-position: 55% 80%;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden; }
  #homePage #welcomeSequence {
    background: url("../img/malpas.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; }
    @media screen and (max-width: 768px) {
      #homePage #welcomeSequence {
        display: none; } }
  #homePage .slideBox {
    color: white;
    display: none;
    height: 50%;
    left: 52%;
    margin: auto;
    position: absolute;
    text-align: right;
    top: 25%;
    width: 45%;
    z-index: 3; }
    #homePage .slideBox h1 {
      text-align: left; }
  #homePage #mainStackH1Div {
    padding-top: 100px; }
    #homePage #mainStackH1Div #mainStackH1 {
      margin: auto;
      text-align: center; }

#clientLoginPage .standardContainer {
  min-height: 400px; }
  @media screen and (max-width: 480px) {
    #clientLoginPage .standardContainer {
      margin-top: 0;
      min-height: 100vh; }
      #clientLoginPage .standardContainer h1 {
        text-align: center; } }
  #clientLoginPage .standardContainer .btn-align {
    text-align: right; }
    @media screen and (max-width: 768px) {
      #clientLoginPage .standardContainer .btn-align {
        text-align: center; } }
  #clientLoginPage .standardContainer a {
    color: #2b2b2b; }
  #clientLoginPage .standardContainer form .form-group {
    text-align: center; }
    #clientLoginPage .standardContainer form .form-group > label {
      text-align: left;
      margin: 25px auto; }
  #clientLoginPage .standardContainer .alert {
    margin: 20px auto;
    width: 75%; }
    @media screen and (max-width: 480px) {
      #clientLoginPage .standardContainer .alert {
        width: 100%; } }

.basicPageTemplate {
  background: url("../img/stackPattern.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%; }
  .basicPageTemplate h1 {
    color: #ff6619; }
    @media screen and (max-width: 768px) {
      .basicPageTemplate h1 {
        font-size: 2em; } }
  .basicPageTemplate .menu {
    padding-top: 20px;
    text-align: right; }
    .basicPageTemplate .menu ul {
      list-style: none;
      text-align: left; }
      .basicPageTemplate .menu ul li {
        border-bottom: 1px dotted #636363;
        border-top: 0;
        padding: 5px;
        text-align: center;
        width: 100%; }
        .basicPageTemplate .menu ul li a {
          color: #2b2b2b;
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%; }
        .basicPageTemplate .menu ul li:hover {
          cursor: pointer; }
          .basicPageTemplate .menu ul li:hover a {
            color: #ff6619; }
        .basicPageTemplate .menu ul li:first-child {
          border-top: 1px dotted #636363; }

.standardContainer {
  background-color: rgba(219, 221, 224, 0.9);
  border-radius: 15px;
  box-shadow: 5px 5px 8px #222;
  padding: 30px;
  width: 75%;
  margin: 90px auto 30px;
  max-width: 1000px;
  min-width: 755px; }
  @media screen and (max-width: 480px) {
    .standardContainer {
      margin: 50px auto 0;
      min-height: 100vh; } }
  @media screen and (max-width: 768px) {
    .standardContainer {
      min-width: 0; } }
  @media screen and (max-width: 480px) {
    .standardContainer {
      border-radius: 0;
      padding: 10px; } }
  @media screen and (max-width: 768px) {
    .standardContainer {
      padding: 15px;
      width: 85%; } }
  @media screen and (max-width: 480px) {
    .standardContainer {
      padding: 5px;
      width: 100%; } }
  .standardContainer p,
  .standardContainer li {
    font-size: 1.1em; }
    @media screen and (max-width: 480px) {
      .standardContainer p,
      .standardContainer li {
        text-align: left; } }
  .standardContainer .btn-custom,
  .standardContainer .form-group > label {
    margin: 30px; }
    @media screen and (max-width: 480px) {
      .standardContainer .btn-custom,
      .standardContainer .form-group > label {
        margin: 10px auto;
        width: 100%; } }
    @media screen and (max-width: 768px) {
      .standardContainer .btn-custom,
      .standardContainer .form-group > label {
        width: 75%;
        max-width: 350px; } }

.footer-html {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 100px;
  position: relative; }

.footer-body {
  height: 100%;
  margin: 0;
  min-height: 100vh; }

#footer {
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: right; }
  #footer a, #footer:visited {
    color: #d1d1d1;
    margin: 20px 5px 0 0;
    text-decoration: none; }
    #footer a:hover, #footer:visited:hover {
      color: #ff6619;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */