//ABOUTPAGES
.aboutPages {
    background: url("../img/jpg/aboutPattern.jpg") no-repeat;
    background-size: cover;
    .container {
        @include standardContainer;
        width: 75%;
        @include sm {
            width: 90vw;
        }
        @include xs {
            width: 100%;
        }
        div {
            text-align: center;
        }
        #badges {
            img {
                width: 100%;
                height: auto;
            }
        }
        h1,
        h3,
        a {
            color: $colHighlight;
            text-align: left;
        }
        #kensName {
            text-align: center;
            color: #333;
            @include xs {
                font-size: 1.5em;
            }
        }
        h2 {
            color: $colHighlight;
            text-align: left;
        }
        ul {
            li {
                text-align: left;
            }
        }
        p {
            text-indent: 50px;
            text-align: justify;
        }
        #profilePic {
            width: 80%;
            margin: 30px auto;
            @include lg {
                width: 100%;
            }
            @include md {
                width: 60%;
            }
        }
    }
}

#etlPage {
    padding-top: 50px;
    .curvedImg {
        border-radius: 25px;
        width: 80%;
        height: auto;
        margin: auto;
    }
    .smallScreenImg {
        display: none;
    }
    @include md {
        .bigScreenImg {
            display: none;
        }
        .smallScreenImg {
            display: block;
            margin-bottom: 40px;
            width: 100%;
        }
    }
   
    h2 {
        @include md {
            display: none;
        }
    }
    .textBox {
        padding: 0 10px 10px 10px;
        a {
            color: $colHighlight;
        }
    }
    .verticalAlignLgOnly {
        @include verticalAlign;
        @include sm {
            display: block;
        }
    }
}