#servicesPage {
    p {
        text-indent: 0;
        font-size: 15px;
    }
    .row {
        .dropcaps {
            font-size: 1.1em;
            font-weight: bold;
            float: left;
            padding: 0;
        }
        .imgDiv  {
            margin: 10px 0;
            text-align: right;
            @include sm {
                padding: 0;
            }
            .additionalPic {
                width: 80px;
                @include xs {
                    padding: 0;
                    width: 60px;
                }
            }
        }
    }
}