.basicPageTemplate {
  background: url('../img/stackPattern.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;

  h1 {
    color: $bright-color;
  }

  .standardContainer {
    @include standard-container;
    margin: 90px auto 30px;

    button {
      margin: 30px;
    }
  }

  .menu {
    padding-top: 40px;
    text-align: right;

    ul {
      list-style: none;
      text-align: left;

      li {
        border-bottom: 1px dotted #636363;
        border-top: 0;
        padding: 5px;
        text-align: center;
        width: 100%;

        a {
          color: $dark-text-color;
          display: block;
          height: 100%;
          text-decoration: none;
          width: 100%;
        }

        &:hover {
          cursor: pointer;

          a {
            color: $bright-color;
            }
        }

        &:first-child {
          border-top: 1px dotted #636363;
        }
      }
    }
  }
}


