body {
    font-family: 'Space Mono', monospace;
    color: $darkTextColor;
    cursor: default;
    p {
        text-indent: 30px;
    }
    p,
    li {
        font-size: 1.1em;
        text-align: justify;
    }
    .black {
        background: #000;
        background-size: cover;
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}



#mainStackH1 {
            width: 100%;
            color: white;
            font-size: 120px;
            display: inline-block;
        }

.btn-custom {
    margin: auto;
    @include button($lightTextColor, rgba( 34, 52, 169, 1), white);
}