#clientLoginPage {
  .standardContainer {
    @include xs {
      margin-top: 0;
      min-height: 100vh;

      h1 {
        text-align: center;
      }
    }

    min-height: 400px;

    .btn-align {
      @include sm {
        text-align: center;
      }
      text-align: right;
    }

    a {
      color: $dark-text-color;
    }

    form {
      .form-group {
        text-align: center;

        > label {
          text-align: left;
          margin: 25px auto;
        }
      }
    }

    .alert {
      @include xs {
        width: 100%;
      }
      margin: 20px auto;
      width: 75%;
    }
  }
}
