#clientLoginPage {
  .container {
    min-height: 400px;

    a {
      color: $dark-text-color;
    }

    .alert {
      @include xs {
        width: 100%;
      }
      margin: 20px auto;
      width: 75%;
    }

    form {
      @include xs {
        width: 100%;
      }
      margin: auto;
      width: 75%;

      .btn {
        margin-top: 30px;
      }

      label,
      input {
        margin: auto;
        padding: 10px;
      }
    }
  }
}
