.footerHtml {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 100px;
  position: relative;
}

.footer-body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
}

#footer {
  background-color: rgba(0, 0, 0, .85);
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: right;

  a,
  &:visited {
    color: #d1d1d1;
    margin: 20px 5px 0 0;
    text-decoration: none;

    &:hover {
      color: $bright-color;
      text-decoration: none;
    }
  }
}
