#homePage {
  background: #000 url('../img/italy.jpg');
  background-position: 55% 80%;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  #welcomeSequence {
    @include sm {
      display: none;
    }
    background: url('../img/malpas.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .slideBox {
    color: white;
    display: none;
    height: 50%;
    left: 52%;
    margin: auto;
    position: absolute;
    text-align: right;
    top: 25%;
    width: 45%;
    z-index: 3;

    h1 {
      text-align: left;
    }
  }

  #mainStackH1Div {
    padding-top: 100px;
    #mainStackH1 {
      margin: auto;
      text-align: center;
    }
  }
}
