#homePage {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background: #000 url(../img/cairn.jpg) no-repeat;
    background-size: cover;
    background-size: cover;
    @include verticalAlign;
    #aurora {
        background: url(../img/aurora.jpg) no-repeat center center;
        background-size: cover;
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .slideBox {
        display: none;
        position: absolute;
        top: 25%;
        left: 52%;
        z-index: 3;
        margin: auto;
        color: $lightTextColor;
        text-align: right;
        width: 45%;
        height: 50%;
        h1 {
            text-align: left;
        }
    }
    #mainStackH1Div {
        height: 100%;
        width: 100%;
        @include verticalAlign;
        #mainStackH1 {
            text-align: center;
            margin: auto;
        }
    }
}