#landingPage {
  @include vertical-align;
  @include sm {
    display: block;
  }

  background: url('../img/engineHouse.jpg') no-repeat;
  background-position: 16% 70%;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;

  a {
    @include xs {
      display: block;
      height: 100%;
    }
    
    margin: auto; 
    text-align: center;
    text-decoration: none;
    width: 100%;

    h1 {
      color: white;
    }
  }
}
