.containerForHiding {
  display: none;
}

.popUpContainer {
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2001;

  .popUpFormContainer {
    @media (max-width: 700px) {
      height: $pop-up-width / 1.4;
      width: $pop-up-width / 1.5;
    }
    @media (max-width: 450px) {
      height: $pop-up-width / 1.25;
      width: $pop-up-width / 2;
    }
    background-color: white;
    border: 1px solid black;
    border-radius: $border-radius;
    height: popUpWidth;
    margin: auto;
    padding: 15px;
    width: $pop-up-width;

    .formClose {
      float: right;

      &:hover {
        cursor: pointer;
      }
    }

    textarea {
      width: 100%;
    }

    .btn {
      float: right;
      margin: 20px;
    }

    .formControl {
      margin-bottom: 5px;
    }
  }
}
