.containerForHiding,
#successMessage {
  display: none;
}

.popUpContainer {
  background-color: $pop-up-bg-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2001;

  .formClose {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  .popUpFormContainer {
    @include sm {
      width: 80%;
    }
    @include xs {
      border-radius: $border-radius / 2;
      margin: 0;
      padding: 10px 5px;
      width: 100%;
    }

    background-color: white;
    border: 1px solid black;
    border-radius: $border-radius;
    margin: auto;
    padding: 15px;
    position: relative;
    width: $pop-up-width;

    #successMessage {
      @extend .popUpFormContainer;

      border: 0;
      height: 100%;
      left: 0;
      padding: -14px;
      position: absolute;
      top: 0;
      width: 100%;

      #alertContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        > img {
          height: auto;
          margin: auto;
          width: 30%;
        }

        > div {
          margin: auto;
        }
      }

    }

    textarea {
      width: 100%;
    }

    .btn {
      float: right;
      margin: 20px;
    }

    .formControl {
      margin-bottom: 5px;
    }
  }
}
