.shareBox {
  text-align: center;
  padding: 7px 15px;
  border: 1px solid #7a7a7a;
  border-radius: 20px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .shareBox {
      padding: 3px 7px; } }
  @media screen and (max-width: 480px) {
    .shareBox {
      border: none;
      overflow: visible; } }
  .shareBox .shareIcon {
    border-right: 1px solid #7a7a7a; }
    .shareBox .shareIcon:last-child {
      border-right: none; }
    @media screen and (max-width: 480px) {
      .shareBox .shareIcon {
        border: none; } }
    @media screen and (max-width: 992px) {
      .shareBox .shareIcon {
        padding-left: 5px;
        padding-right: 5px; } }
    @media screen and (max-width: 480px) {
      .shareBox .shareIcon {
        padding: 0; } }
  .shareBox img {
    width: 100%;
    border: 0;
    box-shadow: 0; }
    @media screen and (max-width: 768px) {
      .shareBox img {
        width: 75%;
        padding: 0 1px; } }
    @media screen and (max-width: 480px) {
      .shareBox img {
        width: 80%;
        padding: 1px; } }

#navbarLogo {
  height: 70px; }
  @media screen and (max-width: 992px) {
    #navbarLogo {
      height: 45px; } }

li > ul {
  display: inline-block;
  left: -100px !important; }

.navbar-default {
  background-color: #ffffff;
  border-color: #e9e4ea; }
  .navbar-default .navbar-brand {
    color: #0a67de; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #0a4da3; }
  .navbar-default .navbar-text {
    color: #0a67de; }
  .navbar-default .navbar-nav > li > a {
    color: #0a67de; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #0a4da3; }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; }
  .navbar-default .navbar-toggle {
    border-color: #e9e4ea; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #e9e4ea; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #0a67de; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #0a67de; }
  .navbar-default .navbar-link {
    color: #0a67de; }
    .navbar-default .navbar-link:hover {
      color: #0a4da3; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0a67de; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #0a4da3; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0a4da3;
    background-color: #e9e4ea; } }
#navWrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #e9e4ea; }

#screenIndicator {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  left: 250px;
  background-color: white; }
  @media screen and (max-width: 992px) {
    #screenIndicator {
      left: 150px; } }
  @media screen and (max-width: 1200px) {
    #screenIndicator {
      background-color: red; } }
  @media screen and (max-width: 992px) {
    #screenIndicator {
      background-color: orange; } }
  @media screen and (max-width: 768px) {
    #screenIndicator {
      background-color: blue; } }
  @media screen and (max-width: 480px) {
    #screenIndicator {
      background-color: purple; } }

html,
body {
  overflow-x: hidden; }

body {
  font-family: 'Open Sans', sans-serif; }
  body .navMargin {
    margin-top: 60px; }
    @media screen and (max-width: 992px) {
      body .navMargin {
        margin-top: 45px; } }
  body .rowMargin {
    margin: 50px 0; }
  body .container-fluid {
    padding: 0; }
    body .container-fluid .jumbotron {
      margin: auto;
      margin-bottom: 50px;
      max-width: 75%;
      padding-right: 100x;
      padding-left: 100px;
      max-width: 80%; }
      @media screen and (max-width: 992px) {
        body .container-fluid .jumbotron {
          padding-right: 60px;
          padding-left: 60px;
          max-width: 90%; } }
      @media screen and (max-width: 768px) {
        body .container-fluid .jumbotron {
          padding-right: 30px;
          padding-left: 30px;
          width: 70%;
          margin: 0; } }
      @media screen and (max-width: 480px) {
        body .container-fluid .jumbotron {
          width: 80%;
          padding-right: 0;
          padding-left: 0;
          margin: 0; } }
      body .container-fluid .jumbotron h3 {
        line-height: 40px; }
  @media screen and (max-width: 768px) {
    body .container {
      padding-left: 2px;
      padding-right: 2px; } }
  body .btnColor {
    border: 1px solid #1e1e1e;
    background-color: #0a67de;
    color: white; }
    body .btnColor:hover {
      color: white;
      box-shadow: 2px 2px 8px #1c1c1c; }
  body .additionalPicRight {
    background-color: white;
    border: 1px solid #e9e4ea;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 30%;
    float: right; }
    @media screen and (max-width: 480px) {
      body .additionalPicRight {
        padding: 0; } }
  body .additionalPicLeft {
    background-color: white;
    border: 1px solid #e9e4ea;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 30%;
    float: left; }
    @media screen and (max-width: 480px) {
      body .additionalPicLeft {
        padding: 0; } }
  body .verticalAlign {
    display: flex;
    align-items: center; }

#smallScreenLogo {
  display: none;
  width: 100%; }

.fixedScenery {
  background: url("../img/jpg/Scenery.jpg") no-repeat;
  background-position: 0px 70px;
  background-size: 100%;
  background-attachment: fixed; }
  @media screen and (max-width: 992px) {
    .fixedScenery {
      background-position: 0px 50px; } }

#indexPage #bigScreenLogo,
#indexPage #timelineCover {
  width: 100%;
  max-height: 450px;
  margin: inherit auto; }
#indexPage #timelineCover {
  border: 1px solid #e9e4ea; }
#indexPage .container > div {
  margin: 15px auto 15px auto; }
  @media screen and (max-width: 992px) {
    #indexPage .container > div {
      margin: 0 auto 20px auto; } }
#indexPage #introSection #tagline {
  width: 50%;
  height: 75%; }
#indexPage #introSection .whiteContainer {
  text-align: center;
  padding-top: 10px;
  background-color: white; }
  #indexPage #introSection .whiteContainer h1 {
    margin: 10px 0 0 0; }
    @media screen and (max-width: 768px) {
      #indexPage #introSection .whiteContainer h1 {
        font-size: 1.75em; } }
    @media screen and (max-width: 480px) {
      #indexPage #introSection .whiteContainer h1 {
        font-size: 1.4em; } }
  #indexPage #introSection .whiteContainer #paddedBox {
    height: 0; }
    @media screen and (max-width: 992px) {
      #indexPage #introSection .whiteContainer #paddedBox {
        height: 15vh; } }
    @media screen and (max-width: 768px) {
      #indexPage #introSection .whiteContainer #paddedBox {
        height: 35vh; } }
    @media screen and (max-width: 480px) {
      #indexPage #introSection .whiteContainer #paddedBox {
        height: 50vh; } }
  #indexPage #introSection .whiteContainer a {
    margin: 10px; }
  #indexPage #introSection .whiteContainer #welcome {
    padding-top: 50px; }
  #indexPage #introSection .whiteContainer #welcomeSection {
    min-height: 90vh; }
    #indexPage #introSection .whiteContainer #welcomeSection #welcomePicBox {
      position: relative;
      width: 95%;
      height: 500px;
      margin: 0 auto 100px;
      background: url("../img/jpg/happyPeople.jpg") no-repeat center center;
      background-size: contain; }
      #indexPage #introSection .whiteContainer #welcomeSection #welcomePicBox .welcomeTextBox {
        width: 30%;
        background: white;
        border: 1px solid black;
        border-radius: 0 25px 0 25px;
        -webkit-border-radius: 0 25px 0 25px;
        -moz-border-radius: 0 25px 0 25px;
        position: absolute;
        padding: 20px; }
      #indexPage #introSection .whiteContainer #welcomeSection #welcomePicBox #welcomeTextBox1 {
        top: 5%;
        left: 10%; }
      #indexPage #introSection .whiteContainer #welcomeSection #welcomePicBox #welcomeTextBox2 {
        bottom: 5%;
        right: 10%; }
    #indexPage #introSection .whiteContainer #welcomeSection #bullets {
      float: right;
      text-align: left;
      width: 75%; }
      #indexPage #introSection .whiteContainer #welcomeSection #bullets p {
        line-height: 15px; }
    #indexPage #introSection .whiteContainer #welcomeSection h1 {
      margin-top: 30px;
      color: #0a4da3; }
    #indexPage #introSection .whiteContainer #welcomeSection p {
      max-width: 70vw;
      margin: auto;
      margin-bottom: 15px; }
      @media screen and (max-width: 768px) {
        #indexPage #introSection .whiteContainer #welcomeSection p {
          max-width: 90vw; } }
#indexPage #introSection .imgWrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px; }

.aboutPages {
  background: url("../img/jpg/aboutPattern.jpg") no-repeat;
  background-size: cover; }
  .aboutPages .container {
    float: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 50px;
    margin: 90px auto;
    background-color: white;
    box-shadow: 5px 5px 8px #1e1e1e;
    width: 75%; }
    @media screen and (max-width: 480px) {
      .aboutPages .container {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        padding: 10px;
        margin: 50px auto 0 auto; } }
    @media screen and (max-width: 768px) {
      .aboutPages .container {
        width: 90vw; } }
    @media screen and (max-width: 480px) {
      .aboutPages .container {
        width: 100%; } }
    .aboutPages .container div {
      text-align: center; }
    .aboutPages .container #badges img {
      width: 100%;
      height: auto; }
    .aboutPages .container h1,
    .aboutPages .container h3,
    .aboutPages .container a {
      color: #0a4da3;
      text-align: left; }
    .aboutPages .container #kensName {
      text-align: center;
      color: #333; }
      @media screen and (max-width: 480px) {
        .aboutPages .container #kensName {
          font-size: 1.5em; } }
    .aboutPages .container h2 {
      color: #0a4da3;
      text-align: left; }
    .aboutPages .container ul li {
      text-align: left; }
    .aboutPages .container p {
      text-indent: 50px;
      text-align: justify; }
    .aboutPages .container #profilePic {
      width: 80%;
      margin: 30px auto; }
      @media screen and (max-width: 1200px) {
        .aboutPages .container #profilePic {
          width: 100%; } }
      @media screen and (max-width: 992px) {
        .aboutPages .container #profilePic {
          width: 60%; } }

#etlPage {
  padding-top: 50px; }
  #etlPage .curvedImg {
    border-radius: 25px;
    width: 80%;
    height: auto;
    margin: auto; }
  #etlPage .smallScreenImg {
    display: none; }
  @media screen and (max-width: 992px) {
    #etlPage .bigScreenImg {
      display: none; }
    #etlPage .smallScreenImg {
      display: block;
      margin-bottom: 40px;
      width: 100%; } }
  @media screen and (max-width: 992px) {
    #etlPage h2 {
      display: none; } }
  #etlPage .textBox {
    padding: 0 10px 10px 10px; }
    #etlPage .textBox a {
      color: #0a4da3; }
  #etlPage .verticalAlignLgOnly {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      #etlPage .verticalAlignLgOnly {
        display: block; } }

#testimonialPage .container {
  margin: 80px; }
  #testimonialPage .container #myCarousel {
    width: 100%;
    margin: 0 auto; }
    #testimonialPage .container #myCarousel .carousel-inner .item div {
      padding-top: 30px;
      height: 85vh; }
    #testimonialPage .container #myCarousel .carousel-inner .carousel-caption {
      width: 50%;
      position: relative;
      left: auto;
      right: auto;
      height: 200px; }

#contactUsPage label {
  display: block;
  text-align: left; }

#servicesPage p {
  text-indent: 0;
  font-size: 15px; }
#servicesPage .row .dropcaps {
  font-size: 1.1em;
  font-weight: bold;
  float: left;
  padding: 0; }
#servicesPage .row .imgDiv {
  margin: 10px 0;
  text-align: right; }
  @media screen and (max-width: 768px) {
    #servicesPage .row .imgDiv {
      padding: 0; } }
  #servicesPage .row .imgDiv .additionalPic {
    width: 80px; }
    @media screen and (max-width: 480px) {
      #servicesPage .row .imgDiv .additionalPic {
        padding: 0;
        width: 60px; } }

#blogPage .container {
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 75%; }
  @media screen and (max-width: 992px) {
    #blogPage .container {
      width: 90vw; } }
  @media screen and (max-width: 480px) {
    #blogPage .container {
      width: 100%; } }
  #blogPage .container #content .headImg {
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 1px solid #9c9a9a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: auto; }
  #blogPage .container #content h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
  #blogPage .container #content img {
    max-width: 20%;
    max-height: 200px; }
    #blogPage .container #content img:nth-child(even) {
      float: right; }
    #blogPage .container #content img:nth-child(odd) {
      float: left; }
  #blogPage .container #menu {
    height: 100%;
    border-left: 1px dashed #8f8d8d; }
    @media screen and (max-width: 768px) {
      #blogPage .container #menu {
        display: none; } }

#pageFooter {
  color: #e9e4ea;
  background-color: #1e1e1e;
  text-align: center; }
  #pageFooter a {
    color: #e9e4ea; }
    #pageFooter a:hover {
      color: #0a4da3;
      text-decoration: none; }
  #pageFooter #repsBadge {
    width: 50%;
    margin: auto; }
    #pageFooter #repsBadge img {
      width: 50%; }
      @media screen and (max-width: 992px) {
        #pageFooter #repsBadge img {
          width: 80%; } }
      @media screen and (max-width: 768px) {
        #pageFooter #repsBadge img {
          width: 50%; } }
  #pageFooter #followBoxContainer {
    padding: 20px;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      #pageFooter #followBoxContainer {
        padding: 100px; } }
    @media screen and (max-width: 480px) {
      #pageFooter #followBoxContainer {
        padding: 10px; } }
  #pageFooter #designCredit {
    text-align: right;
    line-height: 100px; }
    #pageFooter #designCredit p,
    #pageFooter #designCredit a {
      font-size: inherit; }

/*# sourceMappingURL=style.css.map */
