//Variables
$bgDefault: #ffffff;
$bgHighlight: #e9e4ea;
$colDefault: #0a67de;
$colHighlight: #0a4da3;
$footerColor: #cbbcbc;
$darkGrey: #1e1e1e;
$dropDown: false;
$buttonBorder: #{$darkGrey};
$buttonBG: #{$colDefault};
$buttonColor: white;
